.button {
  padding: 0.7rem 3.8rem;
  border-radius: 5px;
  border: solid 1px #0a84ff;
  font-size: 1.2rem;
  background-color: transparent;
  color: #0a84ff;
}
.buttonFill {
  padding: 0.7rem 3.8rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
  background-color: #0a84ff;
}
