.item{
    padding: 1.8rem 3rem;
    border-top:2px solid transparent;
    color: white;
    img {
        margin-right: 1rem;
        height: 1.8rem;
        width: 1.8rem;
        cursor: pointer;

    }
    a {
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: -0.09px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        &:hover{
            color: #0091ff;
        }

    }
    &:hover {
        background-image: linear-gradient(to bottom, #39393f
        , rgba(34, 34, 37, 0)),
        linear-gradient(to bottom, #222225, #222225);
        border-top:2px solid #0091ff;
    }


}

