
$primary: #1c1c1e;
$secondary: #151517;
$third: #17171a;

$subscribe:#2e0f53;
$footer:#000000;

$very-light-pink:#f2f2f2;

$borderInputColor: rgba(45, 46, 70, 0.2);

$btnActiveColor: rgb(154, 145, 200);
$btnDefaultColor: rgba(215, 216, 239, 1);


